.GameField
{
	width:75%;
	margin-top:100px;
	background:grey;
	border-radius: 10px;
	text-align: center;
	padding: 15px;
}
#difficulty
{
	width: 150px
}
#play
{
	width: 150px;
}
.InputField
{
	width: 50px;
    border-radius: 10px;
    border: none;
    display: inline-block;
    padding-left: 5px;
    margin: 10px;
}
.InputDescr
{
	display: inline-block;
	margin-right: 10px
}
.cardWrapper
{
	display: inline-block;
	margin: 5px;
	width:100px;
	height: 100px;
}
.cardFace
{
	position: absolute;
    width: 90px;
    height: 90px;
    background: white;
    border-radius: 10px;
    padding: 5px;
    display: none;
}
.shirt
{
	position: absolute;
	width: 100px;
	height: 100px;
	background-image: url(../images/shirt.jpg);
	border-radius: 10px;
}